[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gui]
	recentrepo = C:/Users/ottinbr/Documents/GitHub/display.github.io
[user]
	name = blakeotting
	email = blakeotting@gmail.com
